body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 45rem;
  padding: 2rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 130px 80px 80px;
}

.grid-container > span {
	font-weight: bold;
}

.chosen-class {
	font-weight: bold;
}

.card:hover {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.25);
    } 
.card {
	margin: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}

/* .grid-card {
	display: grid;
	grid-template-columns: 250px 250px 250px;
} */